PORT=5035
RESEND_API_KEY=re_AKyjsPCb_CVStd14bdQKJYAJbyVwxy4XJ
FROM_EMAIL=notifications@caresynclk.me

# text.lk SMS API Configuration
TEXT_LK_API_KEY=your_text_lk_api_key_here
TEXT_LK_SENDER_ID=TextLKDemo
